.Menu {
    display: flex;
    flex-basis: 250px;
    background-color: dodgerblue;
}

.Menu nav {
    flex: 1;
}

.Menu ul {
    list-style: none;
    padding: 0;
}

.Menu li {
    display: flex;
}

.Menu li .Logo {
    flex: 1;
    color: #FFF;
    padding: 10px;
    font-size: larger;
    font-weight: 600;
}

.Menu li a {
    flex: 1;
    text-decoration: none;
    color: #FFF;
    font-size: large;
    font-weight: 400;
    padding: 10px;
}

.Menu li a:hover {
    background-color: #05056e;
}